<ul>
    <li><h3>Descripción</h3></li>
    <p>La medición de la circunferencia de la cintura es una técnica antropométrica crucial para evaluar la distribución de la grasa corporal, particularmente la grasa abdominal. Esta medida es un indicador importante del riesgo de enfermedades cardiovasculares y metabólicas, como la diabetes tipo 2.</p>
    <li><h3>Preparación</h3></li>
    <ul class="inner-ul">
        <li>Utilice una cinta métrica flexible y precisa.</li>
        <li>El participante debe estar de pie, con los pies juntos y relajados.</li>
    </ul>
    <li><h3>Medición</h3></li>
    <ul class="inner-ul">
        <li>Pida al participante que respire normalmente y se relaje.</li>
        <li>Ubique la cinta métrica alrededor del abdomen del participante, a la altura del punto más estrecho entre la costilla inferior y la cresta ilíaca.</li>
        <li>Asegúrese de que la cinta métrica esté horizontal alrededor del abdomen y ajustada sin comprimir la piel.</li>
        <li>Repita la medición al menos dos veces para asegurarse de obtener una lectura precisa y consistente.</li>
    </ul>
</ul>