<ul>
    <li><h3>Descripción</h3></li>
    <p>La <b>medición de la circunferencia de la cintura</b> es una <b>técnica antropométrica crucial</b> para evaluar la <b>distribución de la grasa corporal</b>, particularmente la <b>grasa abdominal</b>. Esta medida es un <b>indicador importante</b> del riesgo de <b>enfermedades cardiovasculares y metabólicas</b>, como la <b>diabetes tipo 2</b>.</p>
    <li><h3>Preparación</h3></li>
    <ul class="inner-ul">
        <li>Utilice una <b>cinta métrica flexible y precisa</b>.</li>
        <li>El participante debe estar de pie, con los <b>pies juntos y relajados</b>.</li>
    </ul>
    <li><h3>Medición</h3></li>
    <ol class="inner-ol"> <li>Pida al participante que <b>respire normalmente</b> y se relaje.</li> <li>Ubique la <b>cinta métrica</b> alrededor del abdomen del participante, a la <b>altura del punto más estrecho</b> entre la <b>costilla inferior</b> y la <b>cresta ilíaca</b>.</li> <li>Asegúrese de que la <b>cinta métrica esté horizontal</b> alrededor del abdomen y ajustada <b>sin comprimir la piel</b>.</li> <li>Repita la medición al menos <b>dos veces</b> para asegurarse de obtener una <b>lectura precisa y consistente</b>.</li> </ol>
</ul>