.verification-container {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: show;
}

h2 {
    margin-top: 30px;
}

img {
    margin-top: 50px;
    width: 300px;
    height: 166px;
}

form {
    width: 80%;
}

.container {
    padding-bottom: 100px;
}

.invalid.ng-valid:not(form).ng-touched {
    border-left: 5px solid #a94442;
}

.ng-valid:not(form).ng-touched {
    border-left: 5px solid #42A948;
}

.ng-invalid:not(form).ng-touched {
    border-left: 5px solid #a94442;
}

.spinner-border {
    width: 1rem;
    height: 1rem;
    border-width: 3px;
    margin-top:3px;
}


.password-input-wrapper {
    position: relative;
}

svg {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
}

.form-check-input {
    margin-left:1px;
    margin-bottom:5px;
    height: 15px;
    width: 15px;
    box-shadow: 0px 0px 0.5px 0.5px #ccc;
}

.form-check-label {
    font-size: 1rem;
}