h1 {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 2rem;
}

table {
  margin-bottom: 20px;
}

.alert {
  width: fit-content;
  margin-bottom: 20px;
}

form {
  width:360px;
}

.spinner-border {
  width: 4rem;
  height: 4rem;
  border-width: 6px;
  margin-top: 15%;
}

.pagination-spinner {
  width: 1.7rem;
  height: 1.7rem;
}

td {
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.form-check-input {
  margin-bottom:5px;
  height: 20px;
  width: 20px;
  box-shadow: 0px 0px 0.5px 0.5px #ccc;
}

.form-check-label {
  font-size: 1rem;
}

.modal-spinner {
  width: 1rem;
  height: 1rem;
  border-width: 3px;
  margin-top:3px;
}

th {
  line-height: 25px;
  min-height: 25px;
  height: 25px;
  background-color: #73a3d642;
}