h1 {
    margin-top: 5%;
    margin-bottom: 3%;
    font-size: 2rem;
  }

h2 {
    font-size: 1.7rem;
}

p {
    text-align: justify;
    font-size:1.1rem;
    line-height: 1.5rem;
}

ol {
    text-align: justify;
    font-size:1.1rem;
    line-height: 1.5rem;
}

.inner-ul {
    text-align: justify;
    font-size:1.1rem;
    line-height: 1.5rem;
}

.spinner-border {
    width: 4rem;
    height: 4rem;
    border-width: 6px;
    margin-top: 15%;
}

.collapse {
}