<ul>
    <li><h3>Descripción</h3></li>
    <p>El Índice Cintura-Cadera (ICC) es una medida antropométrica recomendada por la OMS para evaluar la distribución de la grasa corporal, especialmente la obesidad central. Este índice es un indicador significativo de los riesgos para la salud asociados con la obesidad.</p>
    <p>La relación cintura-cadera puede utilizarse para clasificar a las personas con obesidad androide, cuando la relación es mayor a 0,85 en mujeres y 1 en hombres, o con obesidad ginecoide.</p>
    <p>Un ICC alto indica un mayor riesgo de enfermedades cardiovasculares y metabólicas.</p>
</ul>