<app-header></app-header>
<app-navbar></app-navbar>

<div class="container">
    <h1>{{this.title}}</h1>
    <ng-container *ngIf="(answersState | async) as state" [ngSwitch]="state.appState">
        <ng-container *ngSwitchCase="'ERROR'">
            <p class="alert alert-danger">{{ state.appError }}. Inténtelo de nuevo.</p>
        </ng-container>
        <ng-container *ngSwitchCase="'LOADING'">
            <div class="d-flex justify-content-center mt-5">
                <div class="spinner-border text-primary justify-content-end" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="'LOADED'" >
            <u class="d-flex justify-content-center"><h2 class="pe-5 ps-5 m-5 text-justify" [innerHTML]="state.appData.session"></h2></u>
            <div *ngFor="let answer of state.appData.answers; index as i" class="me-3 mb-2">
                <h3><li>{{answer.question}}</li></h3>
                <div class="d-flex align-items-center justify-content-center">
                    <h3 class="fw-bold ms-5">Respuesta:</h3>
                    <input type="text" class="form-control ms-5" value="{{answer.answer}}" readonly>
                </div>
            </div>
        </ng-container>
    </ng-container>
    <div style="height:100px"></div>
</div>

<app-footer></app-footer>