<nav class="navbar navbar-expand-lg">
    <div class="container d-flex">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item me-4">
                    <a class="nav-link" aria-current="page" (click)="goToPatientList()">&laquo; Volver al listado de
                        pacientes</a>
                </li>
                <li class="nav-item me-4">
                    <a class="nav-link" [ngClass]="this.router.url.split('/').length === 3 ? 'active' : ''">Datos generales</a>
                </li>
                <li class="nav-item dropdown me-4">
                    <a class="nav-link dropdown-toggle" [ngClass]="(this.router.url.split('/')[3]==='APALQ') || (this.router.url.split('/')[3]==='IPAQ') || (this.router.url.split('/')[3]==='IPAQ-E') || (this.router.url.split('/')[3]==='CMTCEF') || (this.router.url.split('/')[3]==='PAR-Q') || (this.router.url.split('/')[3]==='ePARmed-X') ? 'active' : ''" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Anamnesis
                    </a>
                    <ul class="dropdown-menu dropdown-main">
                        <li><a class="dropdown-item" [ngClass]="this.router.url.split('/')[3]==='APALQ' ? 'bold' : ''">Cuestionario de evaluación de los niveles de actividad física (APALQ) | <span>&#60;</span>18 años</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" (click)="goToIpaq()" [ngClass]="this.router.url.split('/')[3]==='IPAQ' ? 'bold' : ''">Cuestionario internacional de actividad física (IPAQ) | <span>&#8805;</span>18 años y <span>&#8804;</span>65 años</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" [ngClass]="this.router.url.split('/')[3]==='IPAQ-E' ? 'bold' : ''">Cuestionario internacional de actividad física en personas mayores (IPAQ-E) | <span>&#62;</span>65 años</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" [ngClass]="this.router.url.split('/')[3]==='CMTCEF' ? 'bold' : ''">Cuestionario del modelo transteórico del cambio de
                                ejercicio físico</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" [ngClass]="this.router.url.split('/')[3]==='PAR-Q' ? 'bold' : ''">Cuestionario de aptitud para la actividad física para
                                todos (PAR-Q+)</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" (click)="goToEparmed()" [ngClass]="this.router.url.split('/')[3]==='ePARmed-X' ? 'bold' : ''">Examen médico electrónico de aptitud para la actividad
                                física (ePARmed-X+)</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown me-4">
                    <a class="nav-link dropdown-toggle" [ngClass]="(this.router.url.split('/')[3]==='IMC') || (this.router.url.split('/')[3]==='ICC') || (this.router.url.split('/')[3]==='circunferencia-cintura') || (this.router.url.split('/')[3]==='peso-ideal') || (this.router.url.split('/')[3]==='pliegues-cutáneos') || (this.router.url.split('/')[3]==='resistencia-cardiorrespiratoria') || (this.router.url.split('/')[3]==='fuerza-resistencia') || (this.router.url.split('/')[3]==='flexibilidad') ? 'bold' : ''" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Valoración condición física
                    </a>
                    <ul class="dropdown-menu dropdown-main">
                        <li><a class="dropdown-item" [ngClass]="(this.router.url.split('/')[3]==='IMC') || (this.router.url.split('/')[3]==='ICC') || (this.router.url.split('/')[3]==='circunferencia-cintura') || (this.router.url.split('/')[3]==='peso-ideal') || (this.router.url.split('/')[3]==='pliegues-cutáneos') ? 'bold' : ''">
                                Antropometría &raquo;
                            </a>
                            <ul class="dropdown-menu dropdown-submenu">
                                <li>
                                    <a class="dropdown-item" [ngClass]="this.router.url.split('/')[3]==='IMC' ? 'bold' : ''">Índice de masa corporal</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" [ngClass]="this.router.url.split('/')[3]==='ICC' ? 'bold' : ''">Índice cintura-cadera</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" [ngClass]="this.router.url.split('/')[3]==='circunferencia-cintura' ? 'bold' : ''">Circunferencia de la cintura</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" [ngClass]="this.router.url.split('/')[3]==='peso-ideal' ? 'bold' : ''">Peso ideal</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" [ngClass]="this.router.url.split('/')[3]==='pliegues-cutáneos' ? 'bold' : ''">Medición de los pliegues cutáneos</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" [ngClass]="this.router.url.split('/')[3]==='resistencia-cardiorrespiratoria' ? 'bold' : ''">Pruebas de resistencia cardiorespiratoria</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" [ngClass]="this.router.url.split('/')[3]==='fuerza-resistencia' ? 'bold' : ''">Pruebas de fuerza-resistencia</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" [ngClass]="this.router.url.split('/')[3]==='flexibilidad' ? 'bold' : ''">Pruebas de flexibilidad</a></li>
                    </ul>
                </li>
                <li class="nav-item me-4">
                    <a class="nav-link" [ngClass]="this.router.url.split('/')[3]==='prescripción' ? 'active' : ''">Prescripción ejercicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="this.router.url.split('/')[3]==='informe' ? 'active' : ''">Informe paciente</a>
                </li>
            </ul>
        </div>
    </div>
</nav>