<ul>
    <li><h3>Evaluación y recomendaciones</h3></li>
    <ul class="inner-ul">
        <li>Compare el peso actual del individuo con el peso ideal calculado.</li>
        <li>Recomiende estrategias de gestión del peso si hay diferencias significativas.</li>
        <li>Recuerde que el peso ideal es una estimación y debe complementarse con otros indicadores de salud como la composición corporal y el porcentaje de grasa corporal.</li>
    </ul>
    <li><h3>Consideraciones importantes</h3></li>
    <ul class="inner-ul">
        <li>Tenga en cuenta que el peso ideal no es un indicador definitivo de salud y debe utilizarse junto con otras mediciones.</li>
        <li>Anime a los usuarios a consultar a un profesional sanitario para una evaluación más completa.</li>
    </ul>
</ul>