<ul>
    <li><h3>Evaluación y recomendaciones</h3></li>
    <ul class="inner-ul">
        <li>Compare el <b>peso actual</b> del individuo con el <b>peso ideal calculado</b>.</li> 
        <li>Recomiende estrategias de <b>gestión del peso</b> si hay diferencias significativas.</li> 
        <li>Recuerde que el <b>peso ideal</b> es una <b>estimación</b> y debe complementarse con otros <b>indicadores de salud</b>, como la <b>composición corporal</b> y el <b>porcentaje de grasa corporal</b>.</li>
    </ul>
    <li><h3>Consideraciones importantes</h3></li>
    <ul class="inner-ul">
        <li>Tenga en cuenta que el <b>peso ideal</b> no es un <b>indicador definitivo de salud</b> y debe utilizarse junto con otras mediciones.</li> 
        <li>Anime a los usuarios a consultar a un <b>profesional sanitario</b> para una <b>evaluación más completa</b>.</li>
    </ul>
</ul>