<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="light">
  <div class="container">
    <img class="app-logo m-2" src="/assets/img/exercise4you.png" alt="Logo">
    <div class="icons justify-content-start">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 flex-row">
        <li class="nav-item">
          <img class="icon" src="/assets/img/icons/header/manual.png" alt="Logo" (click)="openManual()">
        </li>
        <li class="nav-item">
          <img class="icon" src="/assets/img/icons/header/logout.png" alt="Logo" data-bs-toggle="modal" data-bs-target="#logoutStaticBackdrop">
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Alert: Logout -->
<div #modalLogout  class="modal fade" id="logoutStaticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content d-flex align-items-center">
          <div class="modal-header">
              <h2 class="modal-title fs-5 mt-3 mb-2" id="staticBackdropLabel">¿Desea cerrar la sesión?</h2>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Cancelar">Cancelar</button>
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Cerrar sesión" (click)="goToLogout()">Cerrar sesión</button>
          </div>
      </div>
  </div>
</div>