<ul>
    <li><h3>Descripción</h3></li>
    <p>El <b>Índice de Masa Corporal (IMC)</b> es una técnica antropométrica ampliamente utilizada para evaluar el <b>estado nutricional</b> de un individuo. Se calcula a partir de la <b>relación entre el peso y la altura</b> de la persona, proporcionando una estimación de la <b>composición corporal general</b>.</p>

    <p>Existe también otro tipo de índice que se denomina <b>IMC principal</b>, que consiste en la relación entre el <b>IMC hallado de la persona</b> y el <b>límite superior</b> que establecen las instituciones como la <b>OMS</b> para el valor normal.</p>

</ul>