<ul>
    <li><h3>Descripción</h3></li>
    <p>El Índice de Masa Corporal (IMC) es una técnica antropométrica ampliamente utilizada para evaluar el estado nutricional de un individuo. Se calcula a partir de la relación entre el peso y la altura de la persona, proporcionando una estimación de la composición corporal general.</p>
    <p>Existe también otro tipo de índice que se denomina IMC principal, que consiste en la relación entre el IMC hallado de la persona y el límite superior que establecen las
    instituciones como la OMS para el valor normal.</p>
</ul>