<section class="position-relative py-4 py-xl-5">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-xs-6 col-md-8 col-lg-7 col-xl-5">
                <div class="card mb-5">
                    <div class="card-body d-flex flex-column align-items-center">
                        <form class="text-center" [formGroup]="registerForm">
                            <h2 class="mb-4">Registrarse</h2>
                            <p *ngIf="registerError!=''" class="mb-4 alert alert-danger">{{registerError}}</p>
                            <!-- Datos de usuario -->
                            <div class="mb-1"><label>Datos de usuario:</label></div>
                            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                                <div *ngIf="email.errors?.['required']">Es obligatorio introducir un correo electrónico</div>
                                <div *ngIf="email.errors?.['email']">El formato del correo electrónico no es válido</div>
                                <div *ngIf="email.errors?.['maxlength']">El correo electrónico es demasiado largo</div>
                            </div>
                            <div class="mb-1"><input class="form-control" type="email" formControlName="email" placeholder="Correo electrónico*"></div>
                            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
                                <div *ngIf="password.errors?.['required']">Es obligatorio introducir una contraseña</div>
                                <div *ngIf="password.errors?.['minlength']">La contraseña debe tener al menos 8 caracteres</div>
                                <div *ngIf="password.errors?.['maxlength']">La contraseña es demasiado larga</div>
                            </div>
                            <div class="mb-1 password-input-wrapper">
                                <input class="form-control" [type]="this.showPassword ? 'text' : 'password'" formControlName="password" id="password" placeholder="Contraseña*">
                                <svg *ngIf="this.showPassword" (click)="togglePasswordVisibility()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                                </svg>
                                <svg *ngIf="!this.showPassword" (click)="togglePasswordVisibility()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
                                    <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z"/>
                                    <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829"/>
                                    <path d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z"/>
                                </svg>
                            </div>
                            <div *ngIf="(((repeatPassword.value != password.value) || repeatPassword.invalid) && (repeatPassword.dirty || repeatPassword.touched))" class="text-danger">
                                <div *ngIf="!repeatPassword.errors?.['required'] && repeatPassword.value != password.value">Las contraseñas no coinciden</div>
                                <div *ngIf="repeatPassword.errors?.['required']">Es obligatorio repetir la contraseña</div>
                                <div *ngIf="repeatPassword.errors?.['minlength'] && repeatPassword.value == password.value">La contraseña debe tener al menos 8 caracteres</div>
                                <div *ngIf="repeatPassword.errors?.['maxlength'] && repeatPassword.value == password.value">La contraseña es demasiado larga</div>
                            </div>
                            <div class="mb-3 password-input-wrapper">
                                <input class="form-control" [ngClass]="!repeatPassword.errors?.['required'] && repeatPassword.value != password.value ? 'invalid': ''" [type]="this.showRepeatPassword ? 'text' : 'password'" formControlName="repeatPassword" id="repeatPassword" placeholder="Repetir contraseña*">
                                <svg *ngIf="this.showRepeatPassword" (click)="toggleRepeatPasswordVisibility()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                                </svg>
                                <svg *ngIf="!this.showRepeatPassword" (click)="toggleRepeatPasswordVisibility()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
                                    <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z"/>
                                    <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829"/>
                                    <path d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z"/>
                                </svg>
                            </div>
                            <!-- Datos personales -->
                            <div class="mb-1"><label>Datos personales:</label></div>
                            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
                                <div *ngIf="name.errors?.['required']">Es obligatorio introducir un nombre</div>
                                <div *ngIf="name.errors?.['maxlength']">El nombre es demasiado largo</div>
                            </div>
                            <div class="mb-1"><input type="text" class="form-control" id="name" formControlName="name" placeholder="Nombre*"></div>
                            <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="text-danger">
                                <div *ngIf="lastName.errors?.['required']">Es obligatorio introducir apellidos</div>
                                <div *ngIf="lastName.errors?.['maxlength']">Los apellidos demasiado largos</div>
                            </div>
                            <div class="mb-1"><input type="text" class="form-control" id="lastName" formControlName="lastName" placeholder="Apellidos*"></div>
                            <div *ngIf="community.invalid && (community.dirty || community.touched)" class="text-danger">
                                <div *ngIf="community.errors?.['required']">Es obligatorio introducir una comunidad autónoma</div>
                                <div *ngIf="community.errors?.['maxlength']">La comunidad autónoma introducida no es válida</div>
                            </div>
                            <div class="mb-1"><select autocomplete="nope" class="form-select" id="community" formControlName="community">
                                <!-- Opciones de Comunidad Autónoma -->
                                <option value="" selected>Seleccione su comunidad autónoma*</option>
                                <option value="Andalucía">Andalucía</option>
                                <option value="Aragón">Aragón</option>
                                <option value="Asturias, Principado de">Asturias, Principado de</option>
                                <option value="Balears, Illes">Balears, Illes</option>
                                <option value="Canarias">Canarias</option>
                                <option value="Cantabria">Cantabria</option>
                                <option value="Castilla y León">Castilla y León</option>
                                <option value="Castilla - La Mancha">Castilla - La Mancha</option>
                                <option value="Cataluña">Cataluña</option>
                                <option value="Ceuta">Ceuta</option>
                                <option value="Comunitat Valenciana">Comunitat Valenciana</option>
                                <option value="Extremadura">Extremadura</option>
                                <option value="Galicia">Galicia</option>
                                <option value="Madrid, Comunidad de">Madrid, Comunidad de</option>
                                <option value="Melilla">Melilla</option>
                                <option value="Murcia, Región de">Murcia, Región de</option>
                                <option value="Navarra, Comunidad Foral de">Navarra, Comunidad Foral de</option>
                                <option value="País Vasco">País Vasco</option>
                                <option value="Rioja, La">Rioja, La</option>
                            </select></div>
                            <div *ngIf="province.invalid && (province.dirty || province.touched)" class="text-danger">
                                <div *ngIf="province.errors?.['required']">Es obligatorio introducir una provincia</div>
                                <div *ngIf="province.errors?.['maxlength']">La provincia introducida no es válida</div>
                            </div>
                            <div class="mb-1"><select autocomplete="nope" class="form-select" id="province" formControlName="province">
                                <!-- Opciones de Provincia -->
                                <option value="" selected>Selecciona una provincia*</option>
                                <option value="Albacete">Albacete</option>
                                <option value="Alicante / Alacant">Alicante / Alacant</option>
                                <option value="Almería">Almería</option>
                                <option value="Araba/Álava">Araba/Álava</option>
                                <option value="Asturias">Asturias</option>
                                <option value="Ávila">Ávila</option>
                                <option value="Badajoz">Badajoz</option>
                                <option value="Balears, Illes">Balears, Illes</option>
                                <option value="Barcelona">Barcelona</option>
                                <option value="Bizkaia">Bizkaia</option>
                                <option value="Burgos">Burgos</option>
                                <option value="Cáceres">Cáceres</option>
                                <option value="Cádiz">Cádiz</option>
                                <option value="Cantabria">Cantabria</option>
                                <option value="Castellón / Castelló">Castellón / Castelló</option>
                                <option value="Ceuta">Ceuta</option>
                                <option value="Ciudad Real">Ciudad Real</option>
                                <option value="Córdoba">Córdoba</option>
                                <option value="Coruña, A">Coruña, A</option>
                                <option value="Cuenca">Cuenca</option>
                                <option value="Gipuzkoa">Gipuzkoa</option>
                                <option value="Girona">Girona</option>
                                <option value="Granada">Granada</option>
                                <option value="Guadalajara">Guadalajara</option>
                                <option value="Huelva">Huelva</option>
                                <option value="Huesca">Huesca</option>
                                <option value="Jaén">Jaén</option>
                                <option value="León">León</option>
                                <option value="Lleida">Lleida</option>
                                <option value="Lugo">Lugo</option>
                                <option value="Madrid">Madrid</option>
                                <option value="Málaga">Málaga</option>
                                <option value="Melilla">Melilla</option>
                                <option value="Murcia">Murcia</option>
                                <option value="Navarra">Navarra</option>
                                <option value="Ourense">Ourense</option>
                                <option value="Palencia">Palencia</option>
                                <option value="Palmas, Las">Palmas, Las</option>
                                <option value="Pontevedra">Pontevedra</option>
                                <option value="Rioja, La">Rioja, La</option>
                                <option value="Salamanca">Salamanca</option>
                                <option value="Santa Cruz de Tenerife">Santa Cruz de Tenerife</option>
                                <option value="Segovia">Segovia</option>
                                <option value="Sevilla">Sevilla</option>
                                <option value="Soria">Soria</option>
                                <option value="Tarragona">Tarragona</option>
                                <option value="Teruel">Teruel</option>
                                <option value="Toledo">Toledo</option>
                                <option value="Valencia / València">Valencia / València</option>
                                <option value="Valladolid">Valladolid</option>
                                <option value="Zamora">Zamora</option>
                                <option value="Zaragoza">Zaragoza</option>
                            </select></div>
                            <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="text-danger">
                                <div *ngIf="phone.errors?.['maxlength']">El teléfono es demasiado largo</div>
                            </div>
                            <div class="mb-1"><input type="tel" class="form-control" id="phone" formControlName="phone" placeholder="Teléfono (opcional)"></div>
                            <div *ngIf="job.invalid && (job.dirty || job.touched)" class="text-danger">
                                <div *ngIf="job.errors?.['maxlength']">El nombre del trabajo es demasiado largo</div>
                            </div>
                            <div class="mb-1"><input type="text" class="form-control" id="job" formControlName="job" placeholder="Puesto de trabajo actual (opcional)"></div>
                            <div *ngIf="experience.invalid && (experience.dirty || experience.touched)" class="text-danger">
                                <div *ngIf="experience.errors?.['maxlength']">El número de años es demasiado largo</div>
                            </div>
                            <div class="mb-1"><input type="number" class="form-control" id="experience" formControlName="experience" placeholder="Años de experiencia (opcional)"></div>
                            <div class="form-check d-flex align-items-center my-2">
                                <input #privacyPolicyCheckbox class="form-check-input me-3" type="checkbox" value="" id="flexCheck">
                                <label class="form-check-label" for="flexCheck">
                                    He leído y acepto la <a routerLink="/politica-de-privacidad" target="_blank">Política de Privacidad</a>.*
                                </label>
                            </div>

                            <div class="mb-1"><p class="text-muted">* Campos obligatorios</p></div>
                            <div *ngIf="registerState=='LOADING'" class="mb-3"><button class="btn btn-primary d-block w-100 disabled" type="submit">
                                <div class="spinner-border next text-light justify-content-end me-2" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                                Registrarse</button></div>
                            <div *ngIf="registerState!=='LOADING'" (click)="register()" class="mb-3"><button class="btn btn-primary d-block w-100" type="submit">Registrarse</button></div>
                        </form>
                        <div class="form-options">
                            <a class="text-muted" routerLink="/login">Iniciar sesión</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>