<ul>
    <li><h3>Consideraciones importantes</h3></li>
    <ul class="inner-ul">
        <li>Recuerde que el IMC no distingue entre masa muscular y masa grasa, por lo que puede no ser preciso para deportistas o personas con alta masa muscular.</li>
        <li>Asegúrese de realizar las mediciones en condiciones estandarizadas para obtener resultados precisos.</li>
        <li>El IMC debe ser parte de una evaluación integral que incluya composición corporal, dieta y estilo de vida.</li>
    </ul>
</ul>