<ul>
    <li><h3>Consideraciones importantes</h3></li>
    <ul class="inner-ul">
        <li>Recuerde que el <b>IMC no distingue entre masa muscular y masa grasa</b>, por lo que puede no ser preciso para <b>deportistas o personas con alta masa muscular</b>.</li>
        <li>Asegúrese de realizar las mediciones en <b>condiciones estandarizadas</b> para obtener resultados precisos.</li>
        <li>El <b>IMC debe ser parte de una evaluación integral</b> que incluya <b>composición corporal, dieta y estilo de vida</b>.</li>
    </ul>
</ul>