<ul>
    <li><h3>Descripción</h3></li>
    <p>La Prueba de Peso Ideal es una herramienta utilizada para estimar el peso que se considera saludable para un individuo, en base a su estatura, edad, género y composición corporal. Aunque es una aproximación, este cálculo sirve como una guía útil para alcanzar y mantener un peso saludable.</p>
    <li><h3>Fórmulas para calcular el peso ideal</h3></li>
    <ul class="inner-ul">
        <li>Fórmula de Lorentz: Tiene en cuenta la estatura y el género.</li>
        <li>Fórmula de la Metropolitan Life Insurance Company: Basada en la estatura.</li>
    </ul>
</ul>