<ul>
    <li><h3>Descripción</h3></li>
    <p>La <b>Prueba de Peso Ideal</b> es una herramienta utilizada para estimar el <b>peso saludable</b> para un individuo, en base a su <b>estatura, edad, género y composición corporal</b>. Aunque es una aproximación, este cálculo sirve como una guía útil para alcanzar y mantener un <b>peso saludable</b>.</p>
    <li><h3>Fórmulas para calcular el peso ideal</h3></li>
    <ul class="inner-ul">
        <li><b>Fórmula de Lorentz</b>: Tiene en cuenta la <b>estatura</b> y el <b>género</b>.</li> 
        <li><b>Fórmula de la Metropolitan Life Insurance Company</b>: Basada en la <b>estatura</b>.</li>
    </ul>
</ul>