<ul>
    <li><h3>Descripción</h3></li>
    <p>Realice mediciones de pliegues cutáneos en las localizaciones específicas utilizando un plicómetro. Estas mediciones son la base para la aplicación de diversas fórmulas y poder así establecer la densidad corporal.</p>
    <p>A partir de la densidad corporal, se pueden utilizar diferentes fórmulas para estimar el porcentaje de masa grasa (% MG). Las que más se utilizan en población adulta son las fórmulas de Siri y Brozek et al. En esta calculadora se utiliza la fórmula de Siri para adultos entre 19 y 60 años, y la fórmula de Brozek et al. para mayores de 60 años.</p>
    <p>Para conocer en detalle como medir estos pliegues, consultar la <a><u>Guía de medición de pliegues cutáneos</u></a>.</p>
    <li><h3>Fórmulas para estimar la densidad corporal</h3></li>
    <p>Las fórmulas más utilizadas para estimar la densidad corporal son:</p>
    <ol>
        <li>Fórmula de Jackson-Pollock de 3 pliegues: 
            <ol class="inner-ol" type="a">
                <li>En hombres, se miden los siguientes pliegues: muslo, abdominal y pectoral.</li>
                <li>En mujeres, se miden los siguientes pliegues: suprailíaco, tríceps y muslo.</li>
            </ol>
        </li>
        <li>Fórmula de Jackson-Pollock de 7 pliegues: se miden 7 pliegues (pectoral, midaxilar, tricipital, subescapular, abdominal, suprailíaco y muslo).</li>
        <li>Fórmula de Durnin-Womersley: se miden 4 pliegues (suprailíaco, subescapular, bicipital y tricipital).</li>
        <li>En niños (&lt;18 años), se emplea la fórmula de Boileau et al. para calcular la masa grasa, que utiliza 2 pliegues (tricipital y subescapular)</li>
    </ol>
    
</ul>