<ul>
    <li><h3>Descripción</h3></li>
    <p>Realice <b>mediciones de pliegues cutáneos</b> en las <b>localizaciones específicas</b> utilizando un <b>plicómetro</b>. Estas mediciones son la base para la aplicación de diversas <b>fórmulas</b> y poder así establecer la <b>densidad corporal</b>.</p> 
    <p *ngIf="!this.kid">A partir de la <b>densidad corporal</b>, se pueden utilizar diferentes fórmulas para estimar el <b>porcentaje de masa grasa (% MG)</b>. Las que más se utilizan en población adulta son las fórmulas de <b>Siri</b> y <b>Brozek et al.</b> En esta calculadora se utiliza la <b>fórmula de Siri</b> para adultos entre <b>19 y 60 años</b>, y la <b>fórmula de Brozek et al.</b> para mayores de <b>60 años</b>.</p> 
    <p>Para conocer en detalle cómo medir estos pliegues, consulte la <a><u>Guía de medición de pliegues cutáneos</u></a>.</p>
    <li><h3>Fórmulas para estimar la densidad corporal</h3></li>
    <ng-container *ngIf="!this.kid">
      <p>Las fórmulas más utilizadas para estimar la <b>densidad corporal</b> son:</p>
      <ul class="inner-ul">
        <li><b>Fórmula de Jackson-Pollock de 3 pliegues</b>:
          <ul>
            <li>En hombres, se miden los siguientes pliegues: <b>muslo</b>, <b>abdominal</b> y <b>pectoral</b>.</li>
            <li>En mujeres, se miden los siguientes pliegues: <b>suprailíaco</b>, <b>tríceps</b> y <b>muslo</b>.</li>
          </ul>
        </li>
        <li><b>Fórmula de Jackson-Pollock de 7 pliegues</b>: se miden 7 pliegues (<b>pectoral</b>, <b>midaxilar</b>, <b>tricipital</b>, <b>subescapular</b>, <b>abdominal</b>, <b>suprailíaco</b> y <b>muslo</b>).</li>
        <li><b>Fórmula de Durnin-Womersley</b>: se miden 4 pliegues (<b>suprailíaco</b>, <b>subescapular</b>, <b>bicipital</b> y <b>tricipital</b>).</li>
        <li>En niños (<span>&#60;</span>18 años), se emplea la <b>fórmula de Boileau et al.</b> para calcular la <b>masa grasa</b>, que utiliza 2 pliegues (<b>tricipital</b> y <b>subescapular</b>).</li>
      </ul>
    </ng-container>
    <ng-container *ngIf="this.kid">
      <p>La fórmula más utilizada para estimar el <b>porcentaje de grasa corporal</b> en niños (menores de 18 años) es:</p>
      <ul class="inner-ul">
        <li><b>Fórmula de Boileau et al.</b> que utiliza 2 pliegues (tricipital y subescapular).</li>
      </ul>
    </ng-container>
</ul>