<app-header></app-header>
<app-navbar></app-navbar>

<div class="container">
    <h1>Objetivos del paciente</h1>
    <ng-container *ngIf="(objectivesState | async) as state" [ngSwitch]="state.appState">
        <ng-container *ngSwitchCase="'ERROR'">
            <p class="alert alert-danger">{{ state.appError }}. Inténtelo de nuevo.</p>
        </ng-container>
        <ng-container *ngSwitchCase="'LOADING'">
            <div class="d-flex justify-content-center mt-5">
                <div class="spinner-border text-primary justify-content-end" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="'LOADED'" >
            <u class="d-flex justify-content-center"><h2 class="pe-5 ps-5 mt-5 mb-5 text-justify" [innerHTML]="'Sesión ' + this.router.url.split('/')[4] + ' - ' + state.appData.completionDate "></h2></u>
            
            <!-- DATOS DEL PACIENTE -->
            <div class="me-3 mb-2">
                <div class="d-flex row align-items-center justify-content-center">
                    <div class="col">
                        <h3 class="fw-bold mt-2"><li>Grupo poblacional:</li></h3>
                    </div><div class="col">
                        <h3 class="fw-bold ms-4 mt-2"><li>El paciente padece enfermedades crónicas:</li></h3>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-center">
                    <div class="col">
                        <div class="alert alert-custom ms-5" [innerHTML]="state.appData.objectives[0].populationGroup"></div>
                    </div><div class="col ms-5">
                        <div class="alert alert-custom ms-5" [innerHTML]="state.appData.objectives[0].chronicDisease"></div>
                    </div>
                </div>
                <div class="d-flex row align-items-center justify-content-center">
                    <div class="col">
                        <h3 class="fw-bold mt-2"><li>Grupo de enfermedades del paciente:</li></h3>
                    </div><div class="col">
                        <h3 class="fw-bold ms-4 mt-2"><li>Enfermedad que padece el paciente:</li></h3>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-center">
                    <div class="col">
                        <div class="alert alert-custom ms-5" [innerHTML]="state.appData.objectives[0].groupOfChronicDiseases"></div>
                    </div><div class="col ms-5">
                        <div class="alert alert-custom ms-5" [innerHTML]="state.appData.objectives[0].disease"></div>
                    </div>
                </div>
            </div>
            <hr class="mb-4 mt-4">
            <!-- OBJETIVOS DEL PACIENTE -->
            <div *ngFor="let objective of state.appData.objectives; index as i" class="me-3 mb-2">
                <h2 class="text-center mb-4">Objetivo {{i+1}}</h2>
                <div class="d-flex row align-items-center justify-content-center">
                    <div class="col">
                        <h3 class="fw-bold mt-2"><li>Objetivo:</li></h3>
                    </div><div class="col">
                        <h3 class="fw-bold ms-4 mt-2"><li>Rango:</li></h3>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-center">
                    <div class="col">
                        <div class="alert alert-custom ms-5" [innerHTML]="objective.objective"></div>
                    </div><div class="col ms-5">
                        <div class="alert alert-custom ms-5" [innerHTML]="objective.range"></div>
                    </div>
                </div>

                <div class="d-flex row align-items-center justify-content-center">
                    <div class="col">
                        <h3 class="fw-bold mt-2"><li>Prueba o cuestionario:</li></h3>
                    </div><div class="col">
                        <h3 class="fw-bold ms-4 mt-2"><li>Específico:</li></h3>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-center">
                    <div class="col">
                        <div class="alert alert-custom ms-5" [innerHTML]="objective.testOrQuestionnaire"></div>
                    </div><div class="col ms-5">
                        <div class="alert alert-custom ms-5" [innerHTML]="objective.specific"></div>
                    </div>
                </div>

                <div class="d-flex row align-items-center justify-content-center">
                    <h3 class="fw-bold mt-2"><li>Medible:</li></h3>
                </div>
                <div class="alert alert-custom ms-5" [innerHTML]="objective.measurable"></div>

                <div class="d-flex row align-items-center justify-content-center">
                    <h3 class="fw-bold mt-2"><li>Alcanzable:</li></h3>
                </div>
                <div class="alert alert-custom ms-5" [innerHTML]="objective.achievable"></div>

                <div class="d-flex row align-items-center justify-content-center">
                    <h3 class="fw-bold mt-2"><li>Relevante:</li></h3>
                </div>
                <div class="alert alert-custom ms-5" [innerHTML]="objective.relevant"></div>

                <div class="d-flex row align-items-center justify-content-center">
                    <h3 class="fw-bold mt-2"><li>Temporal:</li></h3>
                </div>
                <div class="alert alert-custom ms-5" [innerHTML]="objective.temporal"></div>

                <div class="d-flex row align-items-center justify-content-center">
                    <h3 class="fw-bold mt-2"><li>Objetivo SMART:</li></h3>
                </div>
                <div class="alert alert-info ms-5" [innerHTML]="objective.smartObjective"></div>
                
                <hr class="mb-4 mt-4">
            </div>
            <div class="d-flex justify-content-end mb-5 mt-4">
                <button class="btn btn-primary" (click)="volver()">Volver</button>
            </div>
        </ng-container>
    </ng-container>

    <div style="height:100px"></div>
</div>

<app-footer></app-footer>