<app-header></app-header>
<app-navbar></app-navbar>

<div class="container">
    <h1>Objetivos del paciente</h1>
    <ng-container *ngIf="(objectivesState | async) as state" [ngSwitch]="state.appState">
        <ng-container *ngSwitchCase="'ERROR'">
            <p class="alert alert-danger">{{ state.appError }}. Inténtelo de nuevo.</p>
        </ng-container>
        <ng-container *ngSwitchCase="'LOADING'">
            <div class="d-flex justify-content-center mt-5">
                <div class="spinner-border text-primary justify-content-end" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="'LOADED'" >
            <u class="d-flex justify-content-center"><h2 class="pe-5 ps-5 mt-5 mb-5 text-justify" [innerHTML]="'Sesión ' + this.router.url.split('/')[4] + ' - ' + state.appData.completionDate "></h2></u>
            
            <!-- DATOS DEL PACIENTE -->
            <div class="me-3 mb-2">
                <div class="d-flex row align-items-center justify-content-center">
                    <div class="col">
                        <h3 class="fw-bold mt-2"><li>Grupo poblacional:</li></h3>
                    </div><div class="col">
                        <h3 class="fw-bold ms-5 mt-2"><li>El paciente padece enfermedades crónicas:</li></h3>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-center">
                    <div class="col me-5">
                        <input type="text" class="form-control ms-5" [value]="state.appData.objectives[0].populationGroup" readonly>
                    </div><div class="col ms-5">
                        <input type="text" class="form-control ms-5 me-5" [value]="state.appData.objectives[0].chronicDisease" readonly>
                    </div>
                </div>
                <div class="d-flex row align-items-center justify-content-center">
                    <div class="col">
                        <h3 class="fw-bold mt-2"><li>Grupo de enfermedades del paciente:</li></h3>
                    </div><div class="col">
                        <h3 class="fw-bold ms-5 mt-2"><li>Enfermedad que padece el paciente:</li></h3>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-center">
                    <div class="col me-5">
                        <input type="text" class="form-control ms-5 me-5" [value]="state.appData.objectives[0].groupOfChronicDiseases" readonly>
                    </div><div class="col ms-5">
                        <input type="text" class="form-control ms-5" [value]="state.appData.objectives[0].disease" readonly>
                    </div>
                </div>
            </div>
            <hr class="mb-4 mt-4">
            <!-- OBJETIVOS DEL PACIENTE -->
            <div *ngFor="let objective of state.appData.objectives; index as i" class="me-3 mb-2">
                <h2 class="text-center mb-4">Objetivo {{i+1}}</h2>
                <div class="d-flex row align-items-center justify-content-center">
                    <div class="col">
                        <h3 class="fw-bold mt-2"><li>Objetivo:</li></h3>
                    </div><div class="col">
                        <h3 class="fw-bold ms-5 mt-2"><li>Rango:</li></h3>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-center">
                    <div class="col me-5">
                        <input type="text" class="form-control ms-5 me-5" [value]="objective.objective" readonly>
                    </div><div class="col ms-5">
                        <input type="text" class="form-control ms-5" [value]="objective.range" readonly>
                    </div>
                </div>

                <div class="d-flex row align-items-center justify-content-center">
                    <div class="col">
                        <h3 class="fw-bold mt-2"><li>Prueba o cuestionario:</li></h3>
                    </div><div class="col">
                        <h3 class="fw-bold ms-5 mt-2"><li>Específico:</li></h3>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-center">
                    <div class="col me-5">
                        <textarea [rows]="1 + objective.testOrQuestionnaire.length/55" class="form-control ms-5 me-5" [value]="objective.testOrQuestionnaire" readonly></textarea>
                    </div><div class="col ms-5">
                        <textarea [rows]="1 + objective.specific.length/55" class="form-control ms-5" [value]="objective.specific" readonly></textarea>
                    </div>
                </div>

                <div class="d-flex row align-items-center justify-content-center">
                    <h3 class="fw-bold mt-2"><li>Medible:</li></h3>
                </div>
                <div class="d-flex align-items-center justify-content-center">
                    <textarea [rows]="1 + objective.measurable.length/120" class="form-control ms-5" [value]="objective.measurable" readonly></textarea>
                </div>

                <div class="d-flex row align-items-center justify-content-center">
                    <h3 class="fw-bold mt-2"><li>Alcanzable:</li></h3>
                </div>
                <div class="d-flex align-items-center justify-content-center">
                    <textarea [rows]="1 + objective.achievable.length/120" class="form-control ms-5" [value]="objective.achievable" readonly></textarea>
                </div>

                <div class="d-flex row align-items-center justify-content-center">
                    <h3 class="fw-bold mt-2"><li>Relevante:</li></h3>
                </div>
                <div class="d-flex align-items-center justify-content-center">
                    <textarea [rows]="1 + objective.relevant.length/120" class="form-control ms-5" [value]="objective.relevant" readonly></textarea>
                </div>

                <div class="d-flex row align-items-center justify-content-center">
                    <h3 class="fw-bold mt-2"><li>Temporal:</li></h3>
                </div>
                <div class="d-flex align-items-center justify-content-center">
                    <textarea [rows]="1 + objective.temporal.length/120" class="form-control ms-5" [value]="objective.temporal" readonly></textarea>
                </div>

                <div class="d-flex row align-items-center justify-content-center">
                    <h3 class="fw-bold mt-2"><li>Objetivo SMART:</li></h3>
                </div>
                <div class="d-flex align-items-center justify-content-center">
                    <textarea [rows]="1 + objective.smartObjective.length/120" class="form-control ms-5" [value]="objective.smartObjective" readonly></textarea>
                </div>
                
                <hr class="mb-4 mt-4">
            </div>
            <div class="d-flex justify-content-end mb-5 mt-4">
                <button class="btn btn-primary" (click)="volver()">Volver</button>
            </div>
        </ng-container>
    </ng-container>

    <div style="height:100px"></div>
</div>

<app-footer></app-footer>